In [1]:
import pandas as pd

In [15]:
df = pd.read_excel("Cal Nonprofits - Dental and Vision.xlsx")
df = df.iloc[3:]
df.columns = ['EEID','Name','Title','Site','Setal','Detal','Vision','Vision2','Un']
df.head(10)

,Name,Title,Site,Setal,Detal,Vision,Vision2,Un
3,"Altmann, Catalina",Assistant Teacher,Broadway,46.95,46.95,8.8,8.8,NaN
4,"Bandelaria, Evelyn A",Site Manager,Broadway,46.95,46.95,8.8,8.8,NaN
5,"Chiu, Yu Ming",Assistant Teacher,North Beach,46.95,46.95,8.8,8.8,NaN
6,"Crayne, Masha",Resource Development Mgr,Admin,46.95,46.95,8.8,8.8,NaN
7,"Deng, Li Mei",Lead Teacher,TKL,89.1,89.1,8.8,8.8,NaN
8,"Dong, Ruifang",HR Coordinator,Admin,46.95,46.95,8.8,8.8,NaN
9,"Dore, Holly",Lead Teacher,Geary,46.95,46.95,0,0,NaN
10,"Heung, Sonia",Family Advocate,North Beach,46.95,46.95,8.8,8.8,NaN
11,"Hoi, Shermond",Lead Teacher,Sunset,46.95,46.95,8.8,8.8,NaN
12,"Huang, Bi Juan",Site Manager,Broadway,46.95,46.95,8.8,8.8,NaN

In [13]:
k_df = df[df['Name'] == "Rodriguez Madera, Krystal"]
k_df

Empty DataFrame
Columns: [Name, Title, Site, Setal, Detal, Vision, Vision2, Un]
Index: []